.alertify,
.alertify-show,
.alertify-log {
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.alertify-hide {
  transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.alertify-log-hide {
  transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.alertify-message {
  margin: 0 0 20px 0;
}

.alertify-cover {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.95;
}

.alertify-cover-hidden {
  display: none;
}

.alertify {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 750px;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.alertify-hidden {
  opacity: 0;
  display: none;
}

/* overwrite display: none; for everything except IE6-8 */
:root * > .alertify-hidden {
  display: block;
  visibility: hidden;
}

.alertify-logs {
  position: fixed;
  z-index: 5000;
  bottom: 10px;
  right: 10px;
  width: 300px;
}

.alertify-logs-hidden {
  display: none;
}

.alertify-log {
  display: block;
  margin-top: 10px;
  position: relative;
  right: -300px;
  opacity: 0;
}

.alertify-log-show {
  right: 0;
  opacity: 1;
}

.alertify-log-hide {
  transform: translate(300px, 0);
  opacity: 0;
}

.alertify-dialog {
  padding: 25px;
}

.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.alertify-inner {
  text-align: center;
}

.alertify-text {
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

.alertify {
  background: #FFF;
  border: 1px solid #333; /* browsers that don't support rgba */
  border: 1px solid rgba(0, 0, 0, .7);
  background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.alertify-text {
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 4px;
}

.alertify-button {
  margin: 0;
  background: #fff;
  color: #000;
  padding: 0 15px 10px 15px;
  text-decoration: none;
  line-height: 1;
  border: 1px solid #000;
  transition: background 0.5s ease;
  &:hover {
    background: scale-color(#fff, $lightness: -10%);
  }
}

.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
  background-color: #FE1A00;
  border: 1px solid #D83526;
}

.alertify-log {
  background: #1F1F1F;
  background: rgba(0, 0, 0, .9);
  padding: 15px;
  border-radius: 4px;
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);
}

.alertify-log-error {
  background: #FE1A00;
  background: rgba(254, 26, 0, .9);
}

.alertify-log-success {
  background: #5CB811;
  background: rgba(92, 184, 17, .9);
}
