$mapHeight: 550px;

.map-container {
  position: relative;
  footer {
    padding: 15px 0;
    margin: 0 0 20px 0;
    border-top: 1px solid #4E4F53;
    border-bottom: 1px solid #4E4F53;
  }
}

.map-link {
  text-align: center;
  text-transform: uppercase;
  span {  
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      background: #000;
      transition: width 0.5s ease;
      position: absolute;
      bottom: 0;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}

#map-canvas { 
  height: $mapHeight;
  margin: 0 0 20px 0;
  padding: 0;
}

.info-bubble {
  cursor: pointer;
  p {
    margin: 0;
  }
}

@keyframes mapFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}

@keyframes mapFadeOut {
  0% {
    height: $mapHeight;
    opacity: 0.85;
  }

  90% {
    height: $mapHeight;
    opacity: 0;
  }

  91%, 100% {
    opacity: 0;
    height: 0;
  }
}

.loading {
  height: 0;
  width: 100%;
  background-color: #DCE4EF;
  position: absolute;
  top: 0;
  animation: mapFadeOut 1s ease 0s 1 normal both;
  p {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 25px;
    text-align: center;
  }
}

.show {
  height: $mapHeight;
  animation: mapFadeIn 1s ease 0s 1 normal both;
}

.hexdots-loader {
  position: absolute;
  top: 70%;
  left: 50%;
}

.location-input {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  padding: 15px 5px;
  margin: 0;
  border: 1px solid #000;
  transform: translateY(-50%) translateX(-50%);
  font-size: 24px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  outline: none;
  &::-webkit-input-placeholder {
    color: #000;
    text-transform: uppercase;
  }
  &::-moz-placeholder {
    color: #000;
    text-transform: uppercase;
  }
  &:-ms-input-placeholder {
    color: #000;
    text-transform: uppercase;
  }
  &:-moz-placeholder {
    color: #000;
    text-transform: uppercase;
  }
  &:focus {
    &::-webkit-input-placeholder {
      color: scale-color(#000, $lightness: 60%);
    }
    &::-moz-placeholder {
      color: scale-color(#000, $lightness: 60%);
    }
    &:-ms-input-placeholder {
      color: scale-color(#000, $lightness: 60%);
    }
    &:-moz-placeholder {
      color: scale-color(#000, $lightness: 60%);
    }
  }
}

.location-change-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.75;
}

.modal-open {
  display: block;
}

.pac-container {
  position: fixed !important;
  top: calc(50% + 30px) !important;
}

.pac-item,
.pac-item-query {
  font-size: 18px;
}

.pac-item {
  padding: 10px 5px;
  cursor: pointer;
}